<?xml version="1.0" encoding="UTF-8" standalone="yes"?><properties:Properties xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes" xmlns:properties="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties"><properties:Application>docx4j</properties:Application><properties:AppVersion>2.7</properties:AppVersion></properties:Properties>